CS_HTTP_PORT=2345
CS_WS_PORT=2346
CS_PUBLIC_WS=same-origin
CS_ADMIN_USER=admin
CS_ADMIN_PASS=change-this-password
CS_SESSION_TIMEOUT=604800
CS_LOGIN_RATE_LIMIT=5
CS_LOGIN_RATE_WINDOW=300
CS_DEVICE_TIMEOUT=60
CS_LOG_LEVEL=INFO
